@model List<Teams>


<div class="border border-secondary rounded">
    <h5 class="teamHead">Team List</h5>
    <div class="teamList">
        <a asp-action="Index"
           asp-controller="Home"
           asp-route-teamid=""
           asp-route-teamname=""
           asp-route-pagenum=""
           class="teamList-text">All Teams</a>
    </div>

    @foreach (var x in Model)   
    {
        <div class="teamList">
            <a asp-action="Index" asp-controller="Home"
               asp-route-teamid="@x.TeamId"
               asp-route-teamname="@x.TeamName"
               asp-route-pagenum="1" class="teamList-text">@x.TeamName</a>
        </div>
    }
</div>

