@model List<Teams>


<div>
    <h4>Team List</h4>
    <h5 class="teamList">
        <a asp-action="Index"
           asp-controller="Home"
           asp-route-teamid=""
           asp-route-teamname=""
           asp-route-pagenum="">Home</a>
    </h5>

    @foreach (var x in Model)   
    {
        <div class="teamList">
            <a asp-action="Index" asp-controller="Home"
               asp-route-teamid="@x.TeamId"
               asp-route-teamname="@x.TeamName"
               asp-route-pagenum="1" class="teamList-text">@x.TeamName</a>
        </div>
    }
</div>

