@model List<Teams>


<div class="teamList">
    <h4>Team List</h4>
    <h5>
        <a asp-action="Index"
           asp-controller="Home"
           asp-route-teamid=""
           asp-route-teamname=""
           asp-route-pagenum="">Home</a>
    </h5>

    @foreach (var x in Model)   
    {
        <h5>
            <a asp-action="Index" asp-controller="Home"
               asp-route-teamid="@x.TeamId"
               asp-route-teamname="@x.TeamName"
               asp-route-pagenum="1">@x.TeamName</a>
        </h5>
    }
</div>

